.CalendarDay__selected_span {
    background: rgba(0, 143, 148, 0.2);
    color: rgb(0, 143, 148);
  }
  .CalendarDay {
    font-weight: 700;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 7px;
  }
  .CalendarDay:hover {
    border: 0;
  }
  
  
  .CalendarDay__selected_start_no_selected_end {
    background: linear-gradient(to bottom right, #b30000 50%, transparent 50%);
    color: #82888a;
  }
  
  .CalendarDay__selected_end_no_selected_start {
    background: linear-gradient(to top left, #b30000 50%, transparent 50%);
    color: #82888a;
  }
  
  .CalendarDay__selected_start{
    background: linear-gradient(to top left, rgb(0, 143, 148) 49%, transparent 49%, transparent 51%, #b30000 51%);
    color: white;
  }
  .CalendarDay__selected_end {
    background: linear-gradient(to top left, #b30000  49%, transparent 49%, transparent 51%,  rgb(0, 143, 148) 51%);
    color: white;
  }
  .CalendarDay__highlighted_calendar{
    background: linear-gradient(to top left, #b30000  49%, transparent 49%, transparent 51%,  #b30000 51%);
    color: white;
    pointer-events: none;
  }
  .CalendarDay__blocked_calendar {
    background-color: #b30000;
    pointer-events: none;
  }
  
  